body {
  font-size: 25px;
  background: lightblue;
  color: #000;
  margin: 20px;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

p {
  background-color: #fff;
  margin: 0 20px 90px 0;
  width: 300px;
  height: 90px;
  float: left;
  line-height: 1.4;
}
code {
  color: #c00;
}

#p1 {
  overflow: visible;
}
#p2 {
  overflow: hidden;
}
#p3 {
  overflow: scroll;
}
#p4 {
  overflow: auto;
}
